/**
  Styling for active member detail page [MEMBERSERVICE]
*/

.kc-active-member-detail {
  .kc-suspend-member-modal {
    .kc-modal {
      .kc-modal__container {
        width: 500px;

        .kc-modal__main {
          .kc-modal__content {
            .kc-textarea {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  .kc-request-member-update-data-modal {
    .kc-modal {
      .kc-modal__container {
        .kc-modal__main {
          .kc-modal__content {
            height: 700px;
            padding-top: 1.5rem;

            .kc-revision-modal__content {
              width: 500px;
              height: 100%;
              margin: 20px 0;
              overflow-x: hidden;
              overflow-y: auto;
              border-color: transparent;
              transition: border-color .25s linear;
              -webkit-transition: border-color .25s linear;

              &:hover {
                border-color: rgba(0,0,0,0.1);
              }

              &::-webkit-scrollbar,
              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar-corner {
                border-right-style: inset;
                border-color: inherit;
                border-right-width: calc(100vw + 100vh);
              }
              
              &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
              }
        
              .kc-section-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;
                padding: 10px;
      
                .kc-record-item-new {
                  align-items: flex-start;
                  background-color: #EFEFEF;
                  margin-bottom: 10px;
                  padding: 5px;
                  width: 100%;

                  label, .kc-record-item-new__value {
                    flex: 1;
                  }

                  label {
                    line-height: 24px;
                  }
                }
      
                .kc-dropdown {
                  button {
                    height: 32px;
                  }
          
                  .kc-dropdown__items {
                    top: 32px;
                  }
                }
              }
            }
        
            .kc-revision-modal__footer {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
