/**
  General styling for all pages on MEMBERSERVICE
*/

.kc-active-member-detail,
.kc-approved-member-detail,
.kc-rejected-member-detail,
.kc-suspended-member-detail,
.kc-member-proposal-detail,
.kc-dao-membership-detail,
.kc-request-update-data-detail {
  .content-body {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    .container-fluid {
      display: flex;

      main.kc-memberservice-detail {
        width: 75%;

        .kc-navigation {
          display: flex;
          margin-bottom: 20px;
          overflow: auto;

          &::-webkit-scrollbar,
          &::-webkit-scrollbar-thumb,
          &::-webkit-scrollbar-corner {
            border-right-style: inset;
            border-color: inherit;
            border-right-width: calc(100vw + 100vh);
          }
          
          &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
          }
    
          .kc-navigation-item {
            letter-spacing: 1px;
            text-transform: none;
            white-space: nowrap;
    
            &.kc-navigation-item--active {
              font-weight: 700;
            }
          }
        }
      }

      aside {
        margin-left: 20px;
        width: 25%;

        .kc-memberservice-detail__action-buttons {
          hr {
            margin: 30px 0;
          }

          > .kc-button {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.kc-member-proposal-detail,
.kc-active-member-detail,
.kc-request-update-data-detail {
  .kc-modal {
    .kc-modal__container {
      .kc-modal__main {
        .kc-modal__header {
          .kc-modal__title {
            span.kc-headline5 {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

.kc-corporate-list, .kc-corporate-detail {
  .kc-more-option {
    position: relative;
  
    .kc-more-option-menu {
      position: fixed;
      width: max-content;
      z-index: 1039;

      .kc-more-option-menu__item {
        width: 100%;
      }
    }
  }
}
