/**
  Styling for member proposal detail page [MEMBERSERVICE]
*/

.kc-member-proposal-detail {
  aside {
    .kc-memberservice-detail__action-buttons {
      .kc-proposal-validation-result {
        span {
          width: 200px;
        }
      }
    }
  }

  .kc-reject-proposal-modal {
    .kc-modal {
      .kc-modal__container {
        width: 600px;

        .kc-modal__content {
          .kc-textarea, .kc-button {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .kc-approve-proposal-modal {
    .kc-modal {
      .kc-modal__container {
        width: 500px;

        .kc-modal__content {
          .alert.alert-warning {
            p.kc-body2 {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .kc-reset-pin-modal {
    .kc-modal .kc-modal__container .kc-modal__main .kc-modal__content {
      .kc-radio-button {
        align-items: baseline;
        margin-bottom: 10px;
  
        .kc-radio-button__label {
          font-weight: 400;
        }
      }
    }
  }

  .kc-revision-modal {
    .kc-modal {
      .kc-modal__container {
        .kc-modal__main {
          .kc-modal__content {
            height: 700px;
            padding-top: 1.5rem;

            .kc-navigation {
              display: flex;
              flex-shrink: 0;
              overflow: auto;
    
              &::-webkit-scrollbar,
              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar-corner {
                border-right-style: inset;
                border-color: inherit;
                border-right-width: calc(100vw + 100vh);
              }
              
              &::-webkit-scrollbar {
                width: 1px;
                height: 1px;
              }
        
              .kc-navigation-item {
                letter-spacing: 1px;
                text-transform: none;
                white-space: nowrap;
        
                &.kc-navigation-item--active {
                  font-weight: 700;
                }
              }
            }
        
            .kc-revision-modal__content {
              width: 100%;
              height: 100%;
              margin: 20px 0;
              padding-right: 50px;
              overflow-x: hidden;
              overflow-y: auto;
              border-color: transparent;
              transition: border-color .25s linear;
              -webkit-transition: border-color .25s linear;

              &:hover {
                border-color: rgba(0,0,0,0.1);
              }

              &::-webkit-scrollbar,
              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar-corner {
                border-right-style: inset;
                border-color: inherit;
                border-right-width: calc(100vw + 100vh);
              }
              
              &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
              }
        
              .kc-dropdown {
                button {
                  height: 32px;
                }
        
                .kc-dropdown__items {
                  top: 32px;
                }
              }
        
              .kc-section {
                width: fit-content;
        
                .kc-section-header {
                  margin-bottom: 15px;
        
                  .kc-record-item--value {
                    color: $neutral7;
                  }
                }
        
                .kc-section-item {
                  display: flex;
                  flex-direction: column;
        
                  .kc-section-item--top {
                    align-items: flex-start;
                    display: flex;
                    padding: 10px;
        
                    .kc-record-item {
                      padding: 0;
                    }
        
                    .kc-checkbox-container {
                      padding-top: 3px;
                    }
                  }
        
                  .kc-section-item--bottom {
                    width: 100%;
                    padding: 0 10px;
                    margin-bottom: 15px;
        
                    textarea {
                      resize: none;
                    }
        
                    .kc-section-item--action {
                      margin-top: 10px;
                      display: flex;
        
                      .kc-section-item--action-item {
                        margin-right: 25px;
        
                        input[type="radio"] {
                          margin-right: 10px;
                        }
                      }
                    }
                  }
                }
              }
            }
        
            .kc-revision-modal__footer {
              .kc-revision-modal--action-button {
                display: flex;
                justify-content: flex-start;
                
                button {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .kc-deposit-account-onboarding-modal {
    .kc-modal {
      .kc-modal__container {
        width: 500px;

        .kc-modal__main {
          .kc-modal__content {
            padding: 1.5rem 1rem;

            .kc-inputfield {
              margin-bottom: 20px;

              .kc-inputfield__title {
                span.kc-caption {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .kc-member-proposal-detail {
    aside {
      .kc-memberservice-detail__action-buttons {
        .kc-proposal-validation-result {
          span {
            width: 240px;
          }
        }
      }
    }
  }
}
