/**
  Styling for request update data detail page [MEMBERSERVICE]
*/

.kc-request-update-data-detail {
  .kc-reject-request-update-data-modal {
    .kc-modal {
      .kc-modal__container {
        width: 500px;

        .kc-modal__main {
          .kc-modal__content {
            padding: 1.5rem 1.5rem 2.5rem;

            .kc-textarea {
              margin-bottom: 15px;
            }

            .kc-form-group.kc-form-group--vertical {
              margin-bottom: 10px;
        
              .kc-form-group__identity .kc-form-group__label {
                margin-bottom: 0;
          
                label {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  main.kc-memberservice-detail {
    .kc-section {
      .kc-section-header {
        .kc-record-item {
          .kc-record-item--rows-value {
            .kc-record-item--value {
              span {
                color: $neutral7;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
