.kc-revision-modal {
  &.kc-revision-modal--hidden {
    display: none;
  }

  .kc-revision-modal--backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .kc-revision-modal--container {
      border-radius: 8px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
      background-color: $neutral1;
      width: 800px;
      height: 700px;
      padding: 60px;
      display: flex;
      flex-direction: column;
      position: relative;

      .kc-revision-modal--close-button {
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        i {
          font-size: 20px;
        }

        &:hover {
          border-radius: 50%;
          background-color: $neutral4;
        }
      }
  
      .kc-revision-modal--header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .kc-revision-modal--navigation {
          display: flex;

          button {
            margin-right: 15px;
          }
        }
      }
  
      .kc-revision-modal--content {
        width: 100%;
        margin: 30px 0;
        padding: 10px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 6px;
        }
        
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }

        .kc-dropdown {
          button {
            height: 32px;
          }

          .kc-dropdown__items {
            top: 32px;
          }
        }

        .kc-section {
          width: fit-content;

          .kc-section-header {
            margin-bottom: 15px;

            .kc-record-item--value {
              color: $neutral7;
            }
          }

          .kc-section-item {
            display: flex;
            flex-direction: column;

            .kc-section-item--top {
              display: flex;
            }

            .kc-section-item--bottom {
              width: 100%;
              padding: 0 10px;
              margin-bottom: 15px;

              textarea {
                resize: none;
              }

              .kc-section-item--action {
                margin-top: 10px;
                display: flex;

                .kc-section-item--action-item {
                  margin-right: 25px;

                  input[type="radio"] {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .kc-revision-modal--footer {
        .kc-revision-modal--action-button {
          display: flex;
          justify-content: flex-start;
          
          button {
            margin: 0;
          }
        }
      }
    }
  }
}
