/**
  Styling for reward product form page [MEMBERSERVICE]
*/

.kc-reward-product-form {
  .kc-form-group {
    max-width: 500px;

    .kc-form-group__identity {
      width: 100%;

      .kc-form-group__label {
        margin-bottom: 8px;

        label {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }

      span.kc-form-group__note {
        line-height: 15px;
      }
    }

    .kc-inputfield .kc-inputfield__box, .kc-dropdown button.kc-dropdown-button,
    .kc-dropdown ul.kc-dropdown__items {
      border-radius: 6px;
    }

    .kc-inputfield.kc-inputfield--medium .kc-inputfield__box {
      height: 40px;
    }

    label.kc-toggle-switch {
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
    
  section.kc-reward-product-form__detail {
    .kc-reward-product-form__image {
      border-radius: 6px;
      height: 120px;
      object-fit: cover;
      object-position: center;
      width: 160px;
    }
  }

  section.kc-reward-product-form__condition {
    button.kc-button {
      background-color: transparent;
      border: none;

      .kc-button__icon i, .kc-button-label {
        font-size: 13px;
        font-weight: 700;
      }

      &.kc-condition__delete-btn {
        font-size: 20px;
        width: fit-content;

        .kc-button__icon {
          margin-right: 0;
        }

        &:hover {
          color: #FF8379;
        }
    
        &:active {
          color: #DB3848;
        }
      }
    }

    .kc-condition-list {
      border: 1px solid #eaeaea;
      border-radius: 6px;
      max-width: 1100px;
      padding: 10px;

      .kc-condition {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .kc-form-group .kc-form-group__identity .kc-form-group__label {
          label {
            font-size: 13px;
          }

          span.kc-form-group__is-required {
            font-size: 17px;
          }
        }

        .kc-dropdown > button .kc-dropdown-button__content span.kc-button-label {
          font-size: 13px;
        }
      }
    }
  }
}
