.kc-profile, .kc-change-password {
  .kc-form-wrapper {
    margin: 20px 0;

    .kc-form-group {
      .kc-roles {
        margin-top: 5px;
        margin-left: 10px;

        .kc-roles__option {
          margin-bottom: 15px;

          .kc-checkbox label {
            max-width: none;
          }

          div.kc-caption {
            color: $neutral8;
            font-size: 13px;
            line-height: 16px;
            margin-top: 5px;
          }
        }
      }

      ul.kc-roles {
        margin-left: 40px;
      }
    }
  }
}

.kc-change-password {
  .kc-form-wrapper {
    .kc-inputfield__subtitle {
      span.kc-overline {
        font-size: 11px;
        letter-spacing: 0.75px;
      }
    }
  }
}
