.kc-corporate-withdrawal-instruction-list, .kc-corporate-withdrawal-instruction-detail {
  .kc-modal .kc-modal__container {
    width: 500px;

    .kc-modal__main {
      .kc-modal__header .kc-modal__title span.kc-headline5 {
        font-size: 22px;
      }
    }
  }
}
