.kc-deposit-account-request-list {
  .kc-modal .kc-modal__container {
    width: 500px;

    .kc-modal__main {
      .kc-modal__header .kc-modal__title span.kc-headline5 {
        font-size: 22px;
      }

      .kc-modal__content {
        padding: 1.5rem 1.5rem 2.5rem;

        .kc-form-group.kc-form-group--vertical {
          margin-bottom: 15px;
    
          .kc-form-group__identity .kc-form-group__label {
            label {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
