.kc-detail-wrapper.kc-funding-detail-member {
  .kc-detail-wrapper__left {
    margin-right: 50px;
  }

  .kc-detail-wrapper__right {
    .kc-detail-content {
      .kc-section {
        margin: 0;

        .kc-form-group {
          margin: 0;
          margin-right: 15px;

          .kc-inputfield {
            width: 100%;

            .kc-inputfield__box {
              height: 40px;
            }
          }
        }
      }
    }
  }
}
