/**
  Styling for active member detail page [FUNDING]
*/

.kc-funding-detail-member {
  .content-body {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    .container-fluid {
      display: flex;

      .kc-record-item-new {
        > label {
          font-weight: 400;
        }
      }

      main {
        background-color: $neutral1;
        border-radius: 2px;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
        max-width: 1080px;
        min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - 70px - 20px);
        padding: 20px;
        width: 70%;

        .spinner-border {
          width: 1.25rem;
          height: 1.25rem;
          border: 0.25em solid $functionalLink500;
          border-right-color: transparent;
          margin-left: 5px;
        }

        .kc-record-item-new {
          &:first-child {
            .kc-record-item-new__value {
              label {
                font-weight: 400;
              }
            }
          }
        }

        .kc-form-group {
          margin-bottom: 0;
          margin-right: 10px;
          width: fit-content;

          .kc-inputfield {
            .kc-inputfield__box {
              height: 40px;
            }
          }
        }

        .kc-datatable {
          .kc-datatable__header {
            padding: 0;
          }
        }
      }

      aside {
        margin-left: 20px;
        max-width: 360px;
        width: 30%;

        h2 {
          margin-bottom: 40px;
        }
      }
    }
  }
}
