/**
  General styling for all pages on FUNDING
*/

.kc-account-search,
.kc-member-list,
.kc-deposit-list,
.kc-deposit-sync-list,
.kc-transfer-list,
.kc-transfer-refund-list,
.kc-term-deposit-list,
.kc-term-deposit-application-list {
  .kc-datatable {
    .kc-datatable__header, .kc-datatable__pagination {
      padding: 16px 0;
    }

    .kc-table {
      table {
        background-color: $neutral1;
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        background-clip: text;
        -webkit-background-clip: text;

        &:hover {
          background-color: rgba(0,0,0,0.18);
        }
    
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: none;
          background-color: inherit;
          -webkit-box-shadow: none;
        }

        &::-webkit-scrollbar-track {
          box-shadow: none;
          -webkit-box-shadow: none;
        }
        
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        tbody tr td {
          .kc-rounded-button {
            button {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
