/**
  General styling for all pages on FUNDING
*/

.kc-deposit-account-request-list, .kc-qris-transaction-list {
  .kc-datatable tbody tr td > .kc-button-more-option {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
  }

  .kc-more-option {
    position: relative;

    .kc-more-option-menu {
      position: fixed;
      width: max-content;
    }
  }
}
