.kc-login-qris-merchant-admin {
  .kc-modal-login--wrapper {
    padding: 30px;
    width: fit-content;

    .kc-modal-login--content {
      padding: 0;
      width: fit-content;

      form.kc-form-wrapper {
        width: 300px;
      }

      p {
        max-width: 300px;
      }

      .kc-otp-input {
        margin-bottom: 10px;
        width: 100%;

        input {
          height: 40px;
          width: 40px;
        }
      }

      button.kc-resend-otp-button {
        background-color: transparent;
        border: none;
        color: $functionalError500;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
