.kc-qris-transaction-list {
  .kc-datatable {
    .kc-table {
      thead tr th:first-child {
        width: 5% !important;
      }

      tbody tr td:last-child {
        width: 5% !important;
      }
    }

    .kc-rounded-button .kc-rounded-button__tooltip {
      left: 36px;
      top: 0;
    }

    .kc-body1 {
      font-size: 14px;
      line-height: 16px;
    }

    .kc-body2 {
      font-size: 12px;
      line-height: 16px;
    }
  }
}