/**
  Styling for setting and configuration page (deposit, withdrawal, and qris) [FUNDING]
*/

.kc-setting-deposit, .kc-setting-withdraw {
  margin: 20px 0;

  .kc-setting-simulation {
    background-color: $neutral3;
    color: $neutral7;
    height: fit-content;
    margin-bottom: 30px;
    margin-right: 40px;
    max-width: 500px;
    padding: 32px;

    hr.kc-border-line {
      border-top: 1px solid $neutral7;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    p.text-danger {
      margin-bottom: 0;
    }
  }

  .kc-setting-deposit-form, .kc-setting-withdraw-form {
    max-width: 500px;

    .kc-radio-button {
      margin-bottom: 15px;

      input[type="radio"] {
        margin-top: 4px;
      }

      .kc-radio-button__label {
        font-size: 16px;
        font-weight: 400;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .kc-setting-withdraw-form {
    .kc-form-group .kc-form-group__label {
      margin-bottom: 0;

      label {
        color: $neutral9;
        font-size: 15px;
      }
    }
  }
}

.kc-setting-qris {
  .kc-inputfield .kc-inputfield__box input {
    text-align: right;
  }
}
