/**
  Styling for term deposit application detail page [FUNDING]
*/

.kc-term-deposit-application-detail {
  .content-body {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    .container-fluid {
      display: flex;

      .kc-record-item-new {
        > label {
          font-weight: 400;
        }
      }

      main {
        background-color: $neutral1;
        border-radius: 2px;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
        min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - 70px - 20px);
        padding: 40px;
        width: 75%;

        .spinner-border {
          width: 1.25rem;
          height: 1.25rem;
          border: 0.25em solid $functionalLink500;
          border-right-color: transparent;
          margin-left: 5px;
        }

        .kc-form-group {
          margin-bottom: 0;
          margin-right: 10px;
          width: fit-content;

          .kc-inputfield {
            .kc-inputfield__box {
              height: 40px;
            }
          }
        }
      }

      aside {
        margin-left: 20px;
        width: 25%;

        h2 {
          margin-bottom: 40px;
        }
      }
    }
  }

  table.kc-record-table {
    width: 600px;

    tbody {
      tr {
        td {
          white-space: nowrap;
        }

        td.kc-record-table__label {
          display: flex;
          width: 240px;
        }

        td.kc-record-table__value {
          width: 100%;

          .kc-status-card {
            width: fit-content;
          }
        }
      }
    }
  }

  section.kc-product-detail-section, section.kc-customer-detail-section {
    h2 {
      font-weight: 700;
      margin-bottom: 24px;
      text-transform: uppercase;
    }
  }

  hr {
    margin: 30px 0 40px;
  }

  section.kc-customer-detail-section {
    table.kc-record-table {
      tbody {
        tr {
          &:nth-child(1), &:nth-child(2) {
            td.kc-record-table__value {
              padding-top: 0;
            }
          }

          td {
            .kc-rounded-button {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  section.kc-product-detail-section {
    .kc-remark {
      background-color: $functionalError500;
      color: $neutral1;
      margin-top: 24px;
      max-width: 360px;
      padding: 8px 16px;
      white-space: break-spaces;
      width: fit-content;
    }
  }

  .kc-detail-wrapper__left {
    margin-bottom: 30px;
    margin-right: 50px;
  }

  .kc-modal {
    .kc-modal__container {
      width: 500px;

      .kc-modal__title {
        span.kc-headline5 {
          font-size: 21px;
        }
      }
      
      .kc-form-group {
        .kc-textarea {
          .kc-textarea__subtitle {
            margin-top: 0;

            span.kc-overline {
              font-size: 11px;
              letter-spacing: 1px;
            }
          }
        }

        .kc-inputfield {
          max-width: none;
        }
      }
    }
  }
}
