/**
  Styling for withdrawal detail page [FUNDING]
*/

.kc-detail-wrapper.kc-withdrawal-detail {
  padding: 20px;

  .col-xxl-6 {
    position: relative;
    width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  table {
    tbody {
      tr {
        td.kc-record-table__label {
          padding: 10px 20px 0 0;
          width: 250px;
        }

        td.kc-record-table__value {
          padding-bottom: 0;
        }
      }
    }
  }

  section {
    h2 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  hr {
    margin: 30px 0;
  }

  section.kc-withdrawal-detail__identity {
    table {
      tbody {
        tr {
          td.kc-record-table__value {
            .kc-status-card {
              width: fit-content;
            }

            .kc-rounded-button {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }

  section.kc-withdrawal-detail__transaction {
    table {
      tbody {
        tr {
          &:first-child {
            td {
              padding-top: 0;
            }
          }
        }
      }
    }
  }

  section.kc-withdrawal-approval {
    margin-left: 0;
    margin-top: 30px;

    h2 {
      margin-bottom: 20px;
    }

    button.kc-button {
      margin-right: 10px;
      max-width: 240px;

      &:last-child {
        margin-right: 0;
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 10px;
    }

    .kc-modal {
      .kc-modal__container {
        .kc-modal__main {
          .kc-modal__content {
            padding: 1.5rem 1.5rem 2rem;

            .kc-form-group {
              margin-bottom: 0;
            }
          }
        }
      }

      .kc-modal__title {
        span.kc-headline5 {
          font-size: 21px;
        }
      }
    }
  }

  section.kc-withdrawal-detail__status-history {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-left: 0;
    margin-top: 30px;
    padding-top: 30px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .kc-detail-wrapper.kc-withdrawal-detail {
    .col-xxl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    section.kc-withdrawal-approval {
      margin-bottom: 30px;
      margin-left: 20px;
      margin-top: 0;
    }

    section.kc-withdrawal-detail__status-history {
      border-top: none;
      margin-left: 20px;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.kc-input-otp-modal {
  .modal-header {
    padding: 1rem 1.5rem;
  }

  .modal-body {
    padding: 1.5rem;

    button.kc-resend-otp-button {
      background-color: transparent;
      border: none;
      color: $functionalError500;
      font-weight: 700;
      text-decoration: underline;
    }

    p {
      line-height: 20px;
    }
  
    .kc-otp-input {
      margin-bottom: 1rem;
    }
  }
}
