.datatable-cell {
  &.kc-status-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .kc-active-indicator {
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    &.kc-active-indicator--success {
      background-color: $functionalSuccess;
    }
  
    &.kc-active-indicator--danger {
      background-color: $functionalError;
    }
  }
}

.kc-role-indicators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .kc-role-indicator {
    background-color: $neutral5;
    border-radius: 50px;
    margin-right: 8px;
    min-width: 72px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    white-space: nowrap;

    span {
      color: $neutral8;
    }
  }
}

.datatable-cell {
  button {
    border: none;
    background-color: transparent;

    i {
      font-size: 20px;
    }
  }
}