$primary-color: #006dbf;
$border-color: #ccc;

.container {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    337deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(210, 214, 212, 1) 0%,
    rgba(234, 242, 249, 1) 45%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 30px 50px;
  // box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px $border-color;
}
