/**
  Styling for create event and event detail page [BACKOFFICE]
*/

.kc-event-management {
  &.kc-event-management--detail .content-body {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    .container-fluid {
      display: flex;
      flex-direction: column;

      nav {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .kc-navigation {
          display: flex;
          margin-right: 60px;
          overflow: auto;

          &::-webkit-scrollbar,
          &::-webkit-scrollbar-thumb,
          &::-webkit-scrollbar-corner {
            border-right-style: inset;
            border-color: inherit;
            border-right-width: calc(100vw + 100vh);
          }
          
          &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
          }

          button.kc-navigation-item {
            letter-spacing: 1px;
            text-transform: none;
            white-space: nowrap;
  
            &.kc-navigation-item--active {
              font-weight: 700;
            }
          }
        }
      }

      main {
        background-color: $neutral1;
        border-radius: 2px;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
        min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - 70px - 20px - 60px);
        padding: 20px 35px;
        width: 100%;

        button.kc-submit-event-btn, button.kc-cancel-event-btn {
          background-color: #FFFFFF;
        }

        button.kc-submit-event-btn {
          color: $primary7;
          border: 1px solid $primary7;

          &:hover {
            color: $primary6;
            border: 1px solid $primary6;
          }

          &:active {
            color: $primary8;
            border: 1px solid $primary8;
          }
        }

        button.kc-cancel-event-btn {
          color: $functionalError500;
          border: 1px solid $functionalError500;

          &:hover {
            color: $functionalError400;
            border: 1px solid $functionalError400;
          }

          &:active {
            color: $functionalError600;
            border: 1px solid $functionalError600;
          }
        }
      }
    }
  }

  .kc-table table thead tr th, .kc-table table tbody tr td {
    .kc-button-more-option {
      background-color: transparent;
      border: none;
      height: 24px;
      width: 24px;
    }
  }

  .kc-more-option {
    position: relative;

    .kc-more-option-menu {
      flex-direction: column;
      position: fixed;
      width: max-content;

      .kc-more-option-menu__item {
        width: 100%;
      }
    }
  }

  .kc-form-group {
    max-width: 500px;

    .kc-form-group__identity {
      width: 100%;

      .kc-form-group__label {
        margin-bottom: 8px;

        label {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }

    .kc-textarea {
      max-width: 500px;
    }

    .kc-inputfield .kc-inputfield__box, .kc-textarea .kc-textarea__box,
    .kc-textarea .kc-textarea__box textarea, .kc-dropdown button.kc-dropdown-button,
    .kc-dropdown ul.kc-dropdown__items {
      border-radius: 6px;
    }

    .kc-inputfield.kc-inputfield--medium .kc-inputfield__box {
      height: 40px;
    }

    label.kc-toggle-switch {
      flex-shrink: 0;
    }
  }

  .kc-modal .kc-modal__container .kc-modal__main  {
    min-width: 500px;

    .kc-modal__header .kc-modal__title span {
      font-size: 22px;
    }

    .kc-modal__content {
      padding-top: 2rem;

      .kc-dropdown ul.kc-dropdown__items {
        li.kc-dropdown__item span {
          display: -webkit-box;
          line-clamp: 1;
          overflow: hidden;
          white-space: break-spaces;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;  
        }
      }
    }
  }

  .kc-validate-credential-modal .kc-modal .kc-modal__container .kc-modal__main {
    min-width: auto;
  }

  section.kc-event-management__event-detail {
    .kc-event-management__image {
      border-radius: 6px;
      height: 120px;
      object-fit: cover;
      object-position: center;
      width: 160px;
    }
  }

  section.kc-event-management__event-configuration {
    .kc-table table thead tr th, .kc-table table tbody tr td {
      padding: 12px 8px;

      &:nth-child(1) {
        padding-left: 24px;
      }
    }
  }

  section.kc-event-management__event-summary {
    .kc-table {
      border: none;

      table {
        border-collapse: collapse;
  
        thead tr th {
          background-color: #F0F0F0;
          border: 1px solid #BABABA;
          border-collapse: collapse;
          color: #141414;
          padding: 16px;
          text-transform: none;
          
          &:first-child {
            width: 300px;
          }
  
          &:nth-child(2), &:nth-child(3) {
            width: 150px;
          }
        }
  
        tbody tr {
          &.accent-success td {
            background-color: #E8FADF;
          }

          &.accent-danger td {
            background-color: #FCE3E3;
          }

          td {
            border: 1px solid #BABABA;
            border-collapse: collapse;
            color: #141414;
            padding: 16px;
  
            &.text-gray {
              color: #808080;
            }
    
            &:first-child {
              width: 300px;
            }
    
            &:nth-child(2), &:nth-child(3) {
              width: 150px;
            }
  
            .kc-rounded-button button {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
