/**
  Styling for feature management page [BACKOFFICE]
*/

.kc-feature-management {
  .content-body {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    .container-fluid {
      display: flex;
      flex-direction: column;

      nav {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        div.d-flex.align-items-end {
          width: calc(100% - 200px);

          .kc-dropdown {
            flex-shrink: 0;
          }
        }

        .kc-navigation {
          display: flex;
          margin-right: 20px;
          overflow: auto;

          &::-webkit-scrollbar,
          &::-webkit-scrollbar-thumb,
          &::-webkit-scrollbar-corner {
            border-right-style: inset;
            border-color: inherit;
            border-right-width: calc(100vw + 100vh);
          }
          
          &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
          }

          button.kc-navigation-item {
            letter-spacing: 1px;
            text-transform: none;
            white-space: nowrap;
  
            &.kc-navigation-item--active {
              font-weight: 700;
            }
          }
        }
      }

      main {
        background-color: $neutral1;
        border-radius: 2px;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
        min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - 70px - 20px - 60px);
        padding: 20px;
        width: 100%;

        .kc-modal {
          .kc-modal__container {
            width: 500px;

            .kc-modal__title {
              span.kc-headline5 {
                font-size: 22px;
              }
            }

            .kc-modal__content {
              > .kc-form-group {
                margin-bottom: 30px;
  
                .kc-form-group__label {
                  margin-bottom: 0;
  
                  > label {
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font_secondary;
                  }
                }
              }
  
              .kc-inputfield .kc-inputfield__box {
                height: 40px;
              }
            }
          }
        }

        .kc-media-modal {
          .kc-modal__container {
            width: 800px;
          }
        }

        .kc-tutorial-banner {
          margin-bottom: 20px;
        }
      }
    }
  }
}
