/**
  General styling for all pages on BACKOFFICE
*/

.kc-list-users, .kc-notification-setting, .kc-list-notifications {
  .kc-datatable {
    .kc-datatable__header, .kc-datatable__pagination {
      padding: 16px 0;
    }
  }
}

.kc-list-users, .kc-notification-setting {
  .kc-datatable {
    .kc-table {
      table {
        tbody tr td {
          .kc-toggle-active-user {
            button {
              border: none;
              background-color: transparent;
            }

            .kc-active-indicator {
              border-radius: 50%;
              width: 16px;
              height: 16px;
            
              &.kc-active-indicator--success {
                background-color: $functionalSuccess500;
              }
            
              &.kc-active-indicator--danger {
                background-color: $functionalError500;
              }
            }
          }

          .kc-rounded-button__tooltip {
            right: 36px;
            top: 0;
          }
        }
      }
    }
  }
}

.kc-list-notifications, .kc-notification-templates-list {
  .kc-datatable {
    .kc-table {
      table {
        tbody tr td {
          font-size: 15px;

          .kc-notification-preview {
            p {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;  
              overflow: hidden;
              white-space: break-spaces;
            }
          }
        }
      }
    }
  }
}

.kc-list-notifications {
  .kc-datatable tbody tr td > .kc-button-more-option {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
  }

  .kc-more-option {
    position: relative;
  
    .kc-more-option-menu {
      position: fixed;
      width: max-content;

      a.kc-detail-notification {
        color: $neutral13;
      }

      .kc-more-option-menu__item.kc-delete-notification {
        color: $functionalError500;
      }
    }
  }
}
