/**
  Styling for list users page [BACKOFFICE]
*/

.kc-list-users {
  .kc-modal {
    .kc-roles .kc-roles__option {
      .kc-checkbox label {
        max-width: none;
      }

      div.kc-caption {
        color: $neutral8;
        font-size: 13px;
        line-height: 16px;
        margin-top: 5px;
      }
    }
  }
}
