.kc-add-user-button {
  margin-right: 32px;
}

.kc-datatable {
  button {
    border: none;
    background-color: transparent;
  }

  .kc-view-detail-button {
    i {
      font-size: 20px;
    }
  }

  .kc-toggle-active-user {  
    .kc-active-indicator {
      border-radius: 50%;
      width: 16px;
      height: 16px;
    
      &.kc-active-indicator--success {
        background-color: $functionalSuccess500;
      }
    
      &.kc-active-indicator--danger {
        background-color: $functionalError500;
      }
    }
  }

  .kc-role-indicators {
    .kc-role-indicator {
      background-color: $neutral5;
      border-radius: 50px;
      margin-right: 8px;
      min-width: 72px;
      padding: 8px;
      white-space: nowrap;
      width: fit-content;
      margin-bottom: 5px;
  
      span.kc-caption {
        color: $neutral8;
      }
    }
  }
}
