/**
  Styling for list notification page [BACKOFFICE]
*/

.kc-list-notifications {
  .kc-datatable {
    .kc-datatable__header, .kc-datatable__pagination {
      padding: 16px 0;
    }

    .kc-table {
      table {
        tbody tr td {
          font-size: 15px;

          &.kc-freeze-column {
            border-left: none;
          }

          .kc-notification-preview {
            p {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;  
              overflow: hidden;
              white-space: break-spaces;
            }
          }

          .kc-rounded-button__tooltip {
            right: 36px;
            top: 0;
          }
        }
      }
    }
  }
}
