.kc-notification {
  width: 100%;
  max-width: 1300px;
  margin-bottom: 30px;
  padding: 0 30px;

  .kc-form-group {
    &.kc-form-group--vertical {
      max-width: 500px;
    }

    .kc-inputfield {
      max-width: none;

      .kc-inputfield__box {
        height: 40px;
      }
    }

    .kc-textarea .kc-textarea__subtitle {
      margin-top: 0;

      span.kc-overline {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  .kc-dropdown > button {
    height: 40px;
  }

  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.25em solid $functionalLink500;
    border-right-color: transparent;
  }

  .kc-notification-editor {
    .kc-form-group {
      &.kc-form-group--vertical {
        max-width: 600px;
      }
    }
  }

  .kc-content-notification-preview {
    border: 1px solid $neutral5;
    height: 640px;
    width: 360px;
  }
}

// List Notifikasi
.kc-notification-preview {
  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}
