/**
  Styling for notification template detail page [BACKOFFICE]
*/

.kc-notification-template-detail {
  .col-xl-6 {
    max-width: 500px;
  }

  .kc-form-group {
    margin-bottom: 25px;

    .kc-form-group__label {
      label {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .kc-notification-description {
    .kc-form-group.kc-form-group--vertical {
      margin-bottom: 25px;

      .kc-form-group__label {
        margin-bottom: 0;
      }

      .kc-textarea {
        .kc-textarea__title {
          span.kc-caption {
            color: $neutral7;
            font-size: 13px;
          }
        }

        .kc-textarea__box {
          textarea {
            line-height: 24px;
          }
        }
  
        .kc-textarea__subtitle {
          margin-top: 0;
  
          span.kc-overline {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .kc-notification-illustration {
    img {
      height: 100px;
      object-fit: contain;
      object-position: center;
      width: 100px;
    }

    button.kc-upload-illustration-btn {
      background-color: transparent;
      border: none;
      margin-top: 5px;
      width: fit-content;

      label {
        color: $primary7;
        cursor: pointer;
        margin-bottom: 0;
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: 0;

      &.kc-upload-illustration-status--failed {
        color: $functionalError500;
        font-weight: 700;
      }

      &.kc-upload-illustration-status--successful {
        color: $functionalSuccess500;
        font-weight: 700;
      }

      &.kc-upload-illustration-status--processed {
        .spinner-border {
          width: 1rem;
          height: 1rem;
          border: 0.25em solid $functionalLink500;
          border-right-color: transparent;
          margin-left: 5px;
        }
      }
    }

    input[type="file"] {
      visibility: hidden;
    }
  }

  .kc-notification-body {
    margin-bottom: 25px;

    button.kc-text-button, .kc-notification-body__helper {
      margin-bottom: 10px;
    }

    .kc-notification-body__helper {
      background: lighten($functionalWarning500, 40%);
      border: 1px solid $functionalWarning500;
      font-size: 13px;
      padding: 5px;
      border-radius: 4px;
      color: $neutral8;
    }
  }

  p.kc-notification-placeholders--empty {
    margin-bottom: 0;
  }

  ul.kc-notification-placeholders {
    margin-left: 2rem;

    .kc-body1 {
      font-size: 16px;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .kc-record-item-new {
        align-items: flex-start;

        label {
          font-weight: 400;
        }

        &:first-child {
          margin-bottom: 5px;

          .kc-record-item-new__value {
            label {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .kc-notification-preview {
    position: sticky;
    top: 80px;
    z-index: 999;

    .kc-notification-preview__options {
      margin-bottom: 20px;

      .kc-radio-button {
        align-items: center;
        margin-bottom: 5px;
      }
    }

    .kc-notification-body-preview {
      border: 1px solid $neutral5;
      height: 750px;
      padding: 20px 10px;
      width: fit-content;

      &.kc-notification-body-preview--template {
        align-items: center;
        display: flex;
        flex-direction: column;

        img.kc-notification-body-preview__illustration,
        div.kc-notification-body-preview__illustration--empty {
          height: 200px;
          width: 200px;
        }

        img.kc-notification-body-preview__illustration {
          object-fit: contain;
          object-position: center;
        }

        div.kc-notification-body-preview__illustration--empty {
          border: 1px solid $neutral6;
          flex: 1 0 200px;
        }

        .kc-notification-body-preview__title {
          font-size: 25px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

      .kc-notification-body-preview__title {
        margin-bottom: 10px;
        margin-top: 0;
      }
  
      iframe {
        border: none;
        height: 640px;
        width: 360px;
      }
    }
  }

  > button.kc-button--primary {
    margin-top: 30px;
  }
}
