/**
  Styling for custom notification create and detail page, notification template
  detail page, and alert notification create and detail page [BACKOFFICE]
*/

.kc-notification {
  width: 100%;
  max-width: 1300px;
  margin-bottom: 30px;

  .col-xl-6 {
    max-width: 500px;
  }

  .kc-form-group {
    margin-bottom: 25px;

    &.kc-form-group--vertical {
      max-width: 500px;
    }

    .kc-form-group__label {
      label {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .kc-inputfield {
      max-width: none;

      .kc-inputfield__box {
        height: 40px;
      }
    }

    .kc-dropdown > button {
      height: 40px;
    }
  
    .spinner-border {
      width: 3rem;
      height: 3rem;
      border: 0.25em solid $functionalLink500;
      border-right-color: transparent;
    }
  }

  .kc-notification-description {
    .kc-form-group.kc-form-group--vertical {
      margin-bottom: 25px;

      .kc-form-group__label {
        margin-bottom: 0;
      }

      .kc-textarea {
        .kc-textarea__title {
          span.kc-caption {
            color: $neutral7;
            font-size: 13px;
          }
        }

        .kc-textarea__box {
          textarea {
            line-height: 24px;
          }
        }
  
        .kc-textarea__subtitle {
          margin-top: 0;
  
          span.kc-overline {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .kc-notification-body {
    margin-bottom: 0;

    button.kc-text-button, .kc-notification-body__helper {
      margin-bottom: 10px;
    }

    .kc-notification-body__helper {
      background: lighten($functionalWarning500, 40%);
      border: 1px solid $functionalWarning500;
      font-size: 13px;
      padding: 5px;
      border-radius: 4px;
      color: $neutral8;
    }
  }

  .kc-notification-preview {
    position: sticky;
    top: 80px;
    z-index: 999;

    .kc-notification-preview__options {
      margin-bottom: 20px;

      .kc-radio-button {
        align-items: center;
        margin-bottom: 5px;
        margin-left: 20px;
        
        .kc-radio-button__text label {
          font-weight: 400;
          margin-bottom: 0;
        }
      }
    }

    .kc-notification-body-preview {
      border: 1px solid $neutral5;
      height: auto;
      padding: 20px 10px;
      width: fit-content;

      &.kc-notification-body-preview--template {
        align-items: center;
        display: flex;
        flex-direction: column;

        img.kc-notification-body-preview__illustration,
        div.kc-notification-body-preview__illustration--empty {
          height: 200px;
          width: 200px;
        }

        img.kc-notification-body-preview__illustration {
          object-fit: contain;
          object-position: center;
        }

        div.kc-notification-body-preview__illustration--empty {
          border: 1px solid $neutral6;
          flex: 1 0 200px;
        }

        .kc-notification-body-preview__title {
          font-size: 25px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

      .kc-notification-body-preview__title {
        margin-bottom: 10px;
        margin-top: 0;
      }
  
      iframe {
        border: none;
        height: 576px;
        width: 360px;
      }
    }
  }

  > button.kc-button--primary {
    margin-top: 30px;
  }

  &.kc-notification--template {
    .kc-notification-illustration {
      .kc-form-group {
        margin-bottom: 25px;
  
        .kc-form-group__identity {
          .kc-form-group__label {
            margin-bottom: 0;
          }
        }
  
        .d-flex.flex-column {
          img {
            height: 100px;
            margin: 10px 0;
            object-fit: contain;
            object-position: center;
            width: 100px;
          }
      
          button.kc-upload-illustration-btn {
            background-color: transparent;
            border: none;
            width: fit-content;
      
            label {
              color: $primary7;
              cursor: pointer;
              margin-bottom: 0;
              text-decoration: underline;
            }
          }
      
          p {
            margin-bottom: 0;
      
            &.kc-upload-illustration-status--failed {
              color: $functionalError500;
              font-weight: 700;
            }
      
            &.kc-upload-illustration-status--successful {
              color: $functionalSuccess500;
              font-weight: 700;
            }
      
            &.kc-upload-illustration-status--processed {
              .spinner-border {
                width: 1rem;
                height: 1rem;
                border: 0.25em solid $functionalLink500;
                border-right-color: transparent;
                margin-left: 5px;
              }
            }
          }
      
          input[type="file"] {
            visibility: hidden;
          }
        }
      }
    }

    .kc-notification-body {
      margin-bottom: 25px;
    }

    p.kc-notification-placeholders--empty {
      margin-bottom: 0;
    }
  
    ul.kc-notification-placeholders {
      margin-left: 2rem;
  
      .kc-body1 {
        font-size: 16px;
      }
  
      li {
        margin-bottom: 10px;
  
        &:last-child {
          margin-bottom: 0;
        }
  
        .kc-record-item-new {
          align-items: flex-start;
  
          label {
            font-weight: 400;
          }
  
          &:first-child {
            margin-bottom: 5px;
  
            .kc-record-item-new__value {
              label {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  &.kc-notification--alert {
    .kc-alert-notification-preview {
      .kc-alert-notification-card {
        background-color: #FAEFDA;
        border: 1px solid #EAB7B7;
        border-radius: 4px;
        display: flex;
        padding: 8px 12px;

        svg {
          flex-shrink: 0;
          margin-right: 10px;
        }

        .kc-alert-information-card__content {
          color: #BF2628;

          .kc-alert-information-title {
            font-weight: 700;
          }

          .kc-alert-information-body p {
            margin-bottom: 0;
          }
        }
      }

      &.kc-alert-notification-preview--device {
        background-image: url('./assets/template-alert-notification.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 720px;
        width: 360px;

        .kc-alert-notification-card {
          height: 90px;
          left: 30px;
          position: relative;
          top: 255px;
          width: 280px;

          .kc-alert-information-card__content {
            .kc-alert-information-title {
              font-size: 13px;
              display: -webkit-box;
              line-clamp: 1;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;  
              overflow: hidden;
            }

            .kc-alert-information-body {
              font-size: 12px;

              p {
                font-size: 12px;
                display: -webkit-box;
                line-clamp: 3;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
              }
            }
          }
        }
      }

      &.kc-alert-notification-preview--original {
        .kc-alert-notification-card .kc-alert-information-card__content {
          .kc-alert-information-body {
            font-size: 15px;

            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
