.kc-notification {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
  padding: 0 30px;

  .kc-form-group {
    .kc-inputfield {
      max-width: none;
    }
  }

  .kc-dropdown > button {
    height: 32px;
  }

  .kc-notification-tags {
    display: flex;
    flex-wrap: wrap;
  }

  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.25em solid $functionalLink500;
    border-right-color: transparent;
  }
}

.kc-notification-preview {
  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}

.kc-notification-iframe-preview {
  border: 1px solid $neutral5;
  height: 640px;
  width: 360px;
}
