.kc-product-biller-category-detail {
  .wrapper-form-cms {
    .kc-form-group {  
      .kc-onboarding-image {
        height: 130px;
  
        .kc-onboarding-image__canvas {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}
