.content-wrapper {
  padding-bottom: 15px;
  background-color: $neutral1;

  > .content-header {
    padding: 30px;
  
    h1 {
      font-size: $font_size_title;
      font-family: $font_primary;
      color: #333;
      margin: 0;
      padding: 0;
    }
  
    .breadcrumb {
      font-family: $font_primary;
      font-size: $font_size_paragraph;
      font-weight: normal;
      color: $color-text;
  
      a {
        color : $color-text
      }
    }
  }

  > .content-body {
    .kc-content {
      max-width: 600px;
      margin-bottom: 30px;
      padding: 0 30px;

      .kc-form-wrapper {
        .kc-form-group {
          .kc-roles {
            display: flex;
            flex-direction: column;
            margin-top: 5px;

            .kc-roles__option {
              margin-bottom: 15px;

              span.kc-caption {
                color: $neutral8;
                font-size: 13px;
                line-height: 8px;
              }
            }
          }

          ul.kc-roles {
            width: 100%;
            margin-left: 40px;
          }
        }
      }
    }
  }
}
