.content-wrapper {
  padding-bottom: 20px;
  background-color: #F0F2F8;

  > .content-header {
    padding: 20px;
    height: 70px;
  
    h1 {
      font-size: 21px;
      font-weight: 700;
      color: $neutral10;
    }
  
    .breadcrumb {
      font-size: 15px;
      color: $neutral9;
  
      a {
        color : $neutral9;
      }
    }
  }

  > .content-body {
    background-color: $neutral1;
    border-radius: 2px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    margin: 0 20px;
    padding: 20px;
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - 70px - 20px);
  }
}

// Color Picker
.color-picker {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}
.swatch {
  cursor: pointer;
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
}
.popover {
  top: 28px;
  position: absolute;
  z-index:  2;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}