.content-wrapper {
  padding-bottom: 20px;
  background-color: #F0F2F8;

  > .content-header {
    padding: 20px;
    height: 70px;
  
    h1 {
      font-size: 21px;
      font-weight: 700;
      color: $neutral10;
    }
  
    .breadcrumb {
      font-size: 15px;
      color: $neutral9;
  
      a {
        color : $neutral9;
      }
    }
  }

  > .content-body {
    background-color: $neutral1;
    border-radius: 2px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    margin: 0 20px;
    padding: 20px;
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - 70px - 20px);
  }
}
