.content {
  background: #fff;
  margin: 0 15px 0;
  border-radius: 5px;
  padding: 15px !important;
}

.content-wrapper {
  padding-bottom: 15px;
}

.content-header {
  h1 {
    font-size: $font_size_title;
    font-family: $font_primary;
    color: #333;
  }

  .breadcrumb {
    font-family: $font_primary;
    font-size: $font_size_paragraph;
  }
}
