.kc-invoice-detail {
  .kc-modal {
    .kc-modal--backdrop {
      .kc-modal--container {
        width: 900px;
    
        .kc-modal--main {      
          .kc-modal--content {
            padding: 30px 10px;
            align-items: flex-start;

            label {
              font-weight: 400;
              color: $neutral7;
              margin: 0;
            }

            .kc-invoice-detail__invoice-number {
              display: flex;
              flex-direction: column;
              padding-left: 10px;
              margin-bottom: 30px;

              label {
                margin-bottom: 10px;
              }

              .kc-invoice-number {
                display: flex;
                align-items: center;

                span {
                  margin-right: 10px;
                }
              }
            }
      
            .kc-invoice-detail__content {
              display: flex;
              width: 100%;

              .kc-record-item {
                width: 100%;
                
                .kc-record-item--content {
                  align-items: flex-start;
                  width: 100%;

                  .kc-record-item--key {
                    flex-basis: 40%;
                    width: 100%;
                  }
    
                  .kc-record-item--value {
                    flex-basis: 60%;
                    width: 200px;
                    
                    span {
                      white-space: normal;
                      word-wrap: break-word;
                    }
                  }
                }
              }

              .kc-invoice-detail__left-side {
                flex-basis: 50%;
                margin-right: 30px;
                width: 100%;

                .kc-invoice-status {
                  display: flex;
                  align-items: center;
                  padding: 10px;
                  width: 100%;
    
                  label {
                    margin-right: 20px;
                  }
                }

                button {
                  margin-top: 20px;
                  margin-left: 10px;
                }
              }

              .kc-invoice-detail__right-side {
                flex-basis: 50%;
                width: 100%;

                .kc-invoice-title {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 20px;
                  padding: 10px;
                  width: 100%;
    
                  label {
                    margin-bottom: 10px;
                  }
                }

                .kc-invoice-detail__payment-amount {
                  .kc-divider {
                    border-bottom: 1px solid $neutral5;
                    width: 100%;
                  }
                }

                .kc-invoice-detail__payment-amount, .kc-invoice-detail__payment-link {
                  .kc-record-item--value {
                    text-align: right;
                  }
                }

                .kc-invoice-detail__payment-link {
                  margin-top: 30px;

                  .kc-payment-link {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    width: 100%;
                    
                    .kc-textfield {
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}