.kc-invoice-detail {
  .kc-modal {
    .kc-modal--backdrop {
      .kc-modal--container {
        width: 850px;
    
        .kc-modal--main {      
          .kc-modal--content {
            padding: 30px 10px;
            align-items: flex-start;

            label {
              font-weight: 400;
              color: $neutral7;
            }

            .kc-invoice-detail__invoice-number {
              display: flex;
              flex-direction: column;
              padding-left: 10px;
              margin-bottom: 30px;

              span {
                color: $neutral11;
              }
            }

            .kc-invoice-detail__status-title {
              display: flex;
              justify-content: space-between;
              margin-bottom: 30px;
              padding-left: 10px;

              .kc-invoice-detail__status {
                display: flex;
                align-items: center;
                margin-right: 60px;
                width: 100%;
  
                label {
                  margin: 0;
                  margin-right: 20px;
                }
              }
            }
      
            .kc-invoice-detail__content {
              display: flex;
              justify-content: space-between;

              .kc-record-item {
                min-width: 0;
                
                .kc-record-item--key {
                  width: 150px;
                }
  
                .kc-record-item--value {
                  width: fit-content;
                }
              }

              .kc-status-card {
                width: fit-content;
              }

              .kc-invoice-detail__left-side {
                margin-right: 30px;
              }

              .kc-invoice-detail__right-side {
                .kc-invoice-detail__payment-amount {
                  .kc-record-item--rows-value {
                    width: 160px;
                    justify-content: flex-end;
  
                    .kc-record-item--value {
                      margin-right: 0;
                    }
                  }

                  .kc-divider {
                    border-bottom: 1px solid $neutral5;
                    width: 100%;
                  }
                }

                .kc-invoice-detail__payment-link {
                  margin-top: 30px;

                  .kc-payment-link {
                    display: flex;
                    padding: 10px;
                    width: 100%;
          
                    button {
                      border: 1px solid $neutral5;
                      border-radius: 2px;
                      background-color: $neutral1;
                      color: $neutral7;
                      height: 32px;
                      margin-left: 10px;
                      padding: 0 8px;
                      width: 85px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
          
                      &:hover {
                        border: 1px solid $neutral7;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}