.kc-modal--content {
  padding: 60px 30px 0;

  > .kc-edit-user-modal {
    width: 100%;

    .kc-form-group {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
  
      .kc-input-group {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        > label {
          display: flex;
          align-items: center;
          margin: 0;
        }
  
        .kc-input {
          width: 216px;
  
          .kc-roles {
            .kc-roles--option {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}