.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  
  .navbar-nav {
    .nav-item {
      font-size: $font_size_paragraph;
      font-family: $font_primary;
      color: $white;
      margin-right: 25px;
      display: flex;
      align-items: center;

      .kc-choose-role {
        width: auto;

        .kc-dropdown {
          margin-left: 10px;
          width: 200px;

          button {
            height: 32px;
          }

          .kc-dropdown__items {
            top: 32px;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
      
      p {
        line-height: 1;
        padding: 0;
        margin: 0;
        
        span {
          font-weight: 300;
        }
      }

      .nav-link {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 20px;
        }
      }
    }
  }
}
