.main-header {
  background: $primary7;
  border-bottom: none;
  padding: 0.5rem 1rem;
  height: 60px;
  
  .navbar-nav {
    .nav-item {
      color: $neutral1;
      margin-right: 25px;

      .kc-choose-role {
        .kc-dropdown {
          margin-left: 10px;

          button {
            height: 32px;
          }

          .kc-dropdown__items {
            top: 32px;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
      
      p.kc-welcome-text {
        margin: 0;
        font-weight: 700;
        
        span {
          font-weight: 400;
        }
      }

      .nav-link {
        color: $neutral1;
        padding: 0px;

        i {
          font-size: 20px;
        }
      }

      .dropdown-menu {
        a.dropdown-item {
          color: $neutral8;

          &:hover {
            color: $primary7;
          }
        }
      }
    }
  }
}
