.kc-modal {
  &.kc-modal--hidden {
    display: none;
  }

  .kc-modal--backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;

    .kc-modal--container {
      border-radius: 8px;
      background-color: $neutral1;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
      min-height: 200px;
      width: 672px;
      display: flex;
      flex-direction: column;
      position: relative;

      .kc-modal--close-button {
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        i {
          font-size: 20px;
        }

        &:hover {
          border-radius: 50%;
          background-color: $neutral4;
        }
      }
    
      .kc-modal--main {
        display: flex;
        flex-direction: column;
        padding: 50px 25px;
        height: 100%;
    
        .kc-modal--title {
          text-align: center;
          width: 100%;
          margin-bottom: 30px;
        }
    
        .kc-modal--content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    
      .kc-modal--action {
        display: flex;
        flex-direction: row;
        height: 60px;
    
        button:hover {
          background-color: $neutral4;
        }
    
        button {
          background-color: transparent;
          border: none;
          text-transform: uppercase;
          height: 100%;
        }
    
        .kc-modal--action-cancel {
          border-bottom-left-radius: 8px;
          color: $neutral7;
          flex-basis: 50%;
    
          &:hover {
            background-color: $neutral4;
          }
        }
    
        .kc-modal--action-success {
          border-bottom-right-radius: 8px;
          color: $primary7;
          flex-basis: 50%;
    
          &:hover {
            background-color: $neutral4;
          }
    
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}