.main-sidebar {
  .brand-link {
    background: $color_primary;
    box-shadow: none;
    border: none;
    .brand-text {
      color: #fff;
      font-family: $font_secondary;
      font-size: $font_size_subtitle;
      padding: 0 0.5rem;
    }
  }

  .sidebar {
    background: $neutral5;
    margin-top: 3.5rem !important;
    padding: 0px;

    > nav {
      li.nav-header, li.nav-item a.nav-link p, li.nav-item a.nav-link i {
        color: $neutral13;
        font-size: 15px;
        line-height: 30px;
      }

      li.nav-header {
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
      }

      li.nav-item {
        > a.nav-link {
          margin-bottom: 0;

          > p {
            font-weight: 400;

            > i {
              line-height: 24px;
            }

            &:hover {
              font-weight: 700;
            }
          }
  
          &.active {
            box-shadow: none;
            border-radius: 0;
            background: $color_primary;
            width: 100%;
  
            > p, > i {
              color: $neutral1;
              font-weight: 700;
            }

            &:hover {
              color: $neutral1;
            }
          }
        }

        &:hover {
          background-color: $neutral6;
        }

        &.menu-open {
          li.nav-item a.nav-link {
            padding: 0.5rem 1.75rem;

            > p::before {
              content: "\25CF \00A0 \00A0 \00A0";
            }

            &.active {
              color: #fff;
              box-shadow: none;
              border-radius: 0;
              background: $color_primary;
              width: 100%;
  
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.main-header {
  background: $color_primary;
  .nav-link {
    color: #fff !important;
  }
}

.navbar-nav {
  a, button {
    font-size: $font_size_paragraph;
    font-family: $font_primary;
    color: $font_color;
  }
}