.main-sidebar {
  .brand-link {
    background: $color_primary;
    margin-bottom: 10px;
    box-shadow: none;
    border-bottom: 1px solid $neutral5;
    .brand-text {
      color: #fff;
      font-family: $font_primary;
      font-size: $font_size_subtitle;
    }
  }

  .sidebar {
    background: $neutral5;
    padding: 0px;

    nav {
      .nav-item {
        &.menu-open {
          a.nav-link {
            color: $font_color;
          }

          &.active {
            color: $neutral7;
            box-shadow: none;
            border-radius: 0;
            background: $neutral4;
            width: 100%;
            &:hover {
              color: $neutral7;
            }
          }
        }

        a.nav-link {
          color: $font_color;
          font-family: $font_primary;
          font-size: $font_size_paragraph;
          &:hover {
            color: $neutral7;
          }
          &.active {
            color: $neutral7;
            box-shadow: none;
            border-radius: 0;
            background: $neutral4;
            width: 100%;
            &:hover {
              color: $neutral7;
            }
          }
        }
      }
    }
  }
}

.main-header {
  background: $color_primary;
  .nav-link {
    color: #fff !important;
  }
}

.navbar-nav {
  a, button {
    font-size: $font_size_paragraph;
    font-family: $font_primary;
    color: $font_color;
  }
}
