.layout-navbar-fixed.layout-fixed {
  .wrapper {
    .main-sidebar {
      .brand-link {
        background-color: $primary7;
        padding: 8px;
        height: 60px;
    
        .brand-text {
          color: $neutral1;
          height: min-content;
          padding: 0 0.5rem;
        }
    
        img {
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
    
      .sidebar {
        background-color: $neutral5;
        margin-top: 60px;
        padding: 0px;
    
        nav {
          li.nav-header, li.nav-item a.nav-link p, li.nav-item a.nav-link i {
            color: $neutral13;
            line-height: 30px;
          }
    
          li.nav-header {
            font-weight: 700;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
          }
    
          li.nav-item {    
            a.nav-link {
              margin-bottom: 0;
              width: 100%;
    
              p:hover {
                font-weight: 700;
              }

              i {
                margin-right: 8px;
              }
      
              &.active {
                border-radius: 0;
                background-color: $primary7;
      
                p, i {
                  color: $neutral1;
                  font-weight: 700;
                }
              }
            }
    
            &:hover {
              background-color: $neutral6;
            }
    
            &.has-treeview {
              a.nav-link {
                width: 100%;

                p {
                  i {
                    position: absolute;
                    right: 1rem;
                    top: 0.7rem;
                    transition: transform ease-in-out .3s;
                    transition: -webkit-transform ease-in-out .3s;
                  }
                }
              }

              &.menu-is-opening {
                a.nav-link {
                  p {
                    i {
                      transition: transform ease-in-out .3s;
                      transition: -webkit-transform ease-in-out .3s;
                      -webkit-transform: rotate(-180deg);
                      transform: rotate(-180deg);
                    }
                  }
                }
              }
    
              li.nav-item a.nav-link {
                padding-left: 1.75rem;
    
                > p::before {
                  content: "\25CF \00A0 \00A0 \00A0";
                }
              }
            }
          }
        }
      }
    }
  }
}
