// Atoms
@import 'atoms/add_onboarding_button';
@import 'atoms/broadcast_message';
@import 'atoms/color_pallete';
@import 'atoms/gallery_card';
@import 'atoms/health_check_indicator';
@import 'atoms/loading_page';
@import 'atoms/media_card';
@import 'atoms/notification_tag';
@import 'atoms/onboarding_image';
@import 'atoms/panel_information';
@import 'atoms/push_notification_preview';
@import 'atoms/result_indicator';
@import 'atoms/status_card';
@import 'atoms/tab_navigation';
@import 'atoms/text_button';
@import 'atoms/ticketing_button';

// Molecules
@import 'molecules/animation';
@import 'molecules/dashboard_cards';
@import 'molecules/gallery_list';
@import 'molecules/image_preview';
@import 'molecules/login_container';
@import 'molecules/media_list';
@import 'molecules/modal';
@import 'molecules/multiple_inputfield';
@import 'molecules/navigation';
@import 'molecules/otp_input';
@import 'molecules/popup';
@import 'molecules/record_item';
@import 'molecules/select_role';
@import 'molecules/sweetalert_custom';
@import 'molecules/tutorial_banner';
@import 'molecules/upload_media';
@import 'molecules//modal_upgrade_feature';
@import 'molecules/validate_credential_modal';

// Organisms
@import 'organisms/configuration_card';
@import 'organisms/datatable';
@import 'organisms/media_modal';
@import 'organisms/media_shortcut_menu';
@import 'organisms/onboarding_card';
@import 'organisms/onboarding_modal';
@import 'organisms/text_preview';

// Templates
@import 'templates/deposit_account_onboarding_detail';
@import 'templates/deposit_transaction_detail';
@import 'templates/login_wrapper';
@import 'templates/memberservice_detail';
@import 'templates/notification';
@import 'templates/onboarding_configuration';
@import 'templates/support_configuration';
@import 'templates/term_deposit_product';
@import 'templates/cms_content_page';