.kc-datatable {
  .kc-status-card {
    width: fit-content;
    white-space: nowrap;
  }

  .kc-rounded-button.kc-rounded-button--neutral {
    background-color: transparent;

    button {
      background-color: transparent;
    }
  }

  .kc-datatable__filter {
    .kc-filter__reset {
      margin-bottom: 16px;
    }
  }
}
