/**
  Styling for OnboardingCard organism component.
  The component is used on BACKOFFICE > Content and Feature Management
*/

.kc-onboarding-card {
  align-items: center;
  background-color: $neutral1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
  position: relative;
  width: 100%;

  .kc-onboarding-card__drag-drop-icon {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  p.kc-onboarding-card__title, p.kc-onboarding-card__body {
    margin-bottom: 0;
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }

  img.kc-onboarding-card__image {
    height: 200px;
    object-fit: contain;
    object-position: center;
    width: 200px;
  }
}
