.mui_datatable{
    .css-11mde6h-MuiPaper-root{
        box-shadow: none !important;
    }

    .MuiToolbar-regular{
        padding: 0;
        .tss-1fz5efq-MUIDataTableToolbar-left{
            display: flex;
            justify-content: end;
            align-items: center;
            .tss-1ufdzki-MUIDataTableSearch-main{
                flex-grow: 0;
                display: block;
                width: 350px !important;
                .tss-1h5wt30-MUIDataTableSearch-searchIcon,
                .tss-52j81d-MUIDataTableSearch-clearIcon {
                    display: none;
                }
                input{ 
                    border: none;
                }
            }
        }
        .tss-qbo1l6-MUIDataTableToolbar-actions{
            display: none;
        }
    }
    .MuiTable-root{
        border: 1px solid $color_border;
        &.tss-5jmwmz-MUIDataTableFooter-root{
            border: none;
        }
        tr{
            &:nth-child(even){
                background-color: #F8F8F8;
            }
            td{
                border: none;
                font-size: $font_size_paragraph;
                font-family: $font_secondary;
                color: $color-text;
            }

            tbody{
                tr{
                    td{
                        display: none !important;
                    }
                }
            }
        }
    }
}