/**
  Styling for GalleryList molecule component.
  The component is used on BACKOFFICE > Content and Feature Management
*/

.kc-gallery-list {
  display: flex;
  flex-direction: column;

  .kc-gallery-list__title {
    color: $neutral10;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .kc-gallery-list__entries {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
  }

  &--loading, &--error, &--empty {
    span.kc-body2 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &--loading {
    .spinner-border {
      border: 0.2em solid $functionalLink500;
      border-right-color: transparent;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &--error {
    color: $functionalError500;
  }
}
