.kc-image-preview {
  width: 120px;
  display: flex;
  flex-direction: column;

  .kc-image-preview__content {
    border: 1px solid $neutral7;
    height: 160px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }

    a {
      bottom: 10px;
      position: absolute;
      right: 10px;

      i {
        color: $neutral1;
      }
    }
  }

  .kc-image-preview__label {
    padding: 8px 0;

    span.kc-button-label {
      font-weight: 700;
    }
  }
}
