/**
  Styling for MediaList molecule component.
  The component is used on BACKOFFICE > Content and Feature Management
*/

.kc-media-list {
  display: flex;
  flex-direction: column;

  .kc-media-list__title {
    color: $neutral10;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .kc-media-list__wrapper {
    position: relative;

    .kc-media-list__entries {
      column-gap: 12px;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      row-gap: 12px;
      position: absolute;
      top: 0;
    }
  }

  &--empty, &--loading, &--error {
    span.kc-body2 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &--empty {
    span.kc-body2 {
      margin-bottom: 10px;
    }
  }

  &--loading {  
    .spinner-border {
      border: 0.2em solid $functionalLink500;
      border-right-color: transparent;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &--error {
    color: $functionalError500;
  }
}
