.modal-kc {
  .moda-dialog {
    font-family: $font-primary;
  }
  .modal-content {
    border-radius: 0;
    border: none;
    box-shadow: none;

    .modal-header {
      font-family: $font-primary;
      color: $color_text;
      .link {
        color: $color_text !important;
      }

      .modal-title {
        font-size: $font_size_title;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.modal {
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .modal-content-image {
    border-radius: 10px;
    position: relative;
    width: 500px;

    img {
      border-radius: 10px;
    }
  }
}
