.record-item {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: $neutral300;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 25px;
  width: 100%;

  .record-item--content {
    display: flex;
    flex-direction: row;

    &--field, &--data {
      flex-basis: 50%;
    }

    .record-item--content--field {
      p {
        margin-bottom: 0;
      }
    }

    .record-item--content--data {
      p {
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }
}
