.kc-record-item {
  width: 100%;
  min-width: 400px;
  padding: 15px 0;

  .kc-record-item--content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .kc-record-item--key {
      color: $neutral7;
      flex-basis: 40%;
    }
  
    .kc-record-item--value {
      color: $neutral11;
      flex-basis: 40%;

      span {
        font-weight: 700;
      }
    }
  }
}
