.record-item {
  border: 0;
  display: block;
  min-width: 400px;
  padding: 15px 0;
  width: 100%;

  .record-item--content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &--field, &--data {
      flex-basis: 40%;
    }

    .record-item--content--field {
      display: flex;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }

      &:after{
        content: ":";
        margin: auto 10px;
        color: $notes_color;
      }
    }

    .record-item--content--data {
      p {
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
}
