.kc-record-item {
  width: fit-content;
  min-width: 400px;
  padding: 10px;

  .kc-record-item--content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .kc-record-item--key {
      color: $neutral7;
      width: 250px;
      margin-right: 20px;
    }
  
    .kc-record-item--value {
      color: $neutral11;
      width: 250px;

      span, a {
        font-weight: 700;
      }

      a {
        color: $primary7;
        text-decoration: underline;
      }
    }

    .kc-record-item--rows-value {
      display: flex;
      flex-direction: row;

      .kc-record-item--value {
        margin-right: 20px;
      }
    }
  }

  &.kc-record-item--highlight {
    background-color: $primary7;
    padding: 0 10px;
    margin: 15px 0;

    .kc-record-item--key {
      color: $neutral4;
    }

    .kc-record-item--rows-value {
      .kc-record-item--value {
        color: $neutral1;
      }
    }

    .kc-record-item--value {
      a {
        color: $neutral1;
      }
    }
  }
}
