.kc-datatable__filter {
  position: relative;
  width: 120px;

  button {
    border-radius: 2px;
  }

  .kc-filter {
    background-color: $neutral1;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);
    margin-top: 10px;
    padding: 20px;
    position: absolute;
    left: 0;
    z-index: 999999;

    &.kc-filter--hidden {
      display: none;
    }

    .kc-filter__entries {
      margin-bottom: 30px;

      .kc-filter__entry {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .kc-filter__entry__label {
          margin-right: 10px;
          width: 150px;

          span {
            font-weight: 700;
          }
        }

        .kc-filter__entry__dropdown {
          width: 200px;
        }
      }
    }

    .kc-filter__action-button {
      display: flex;

      button {
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}
