.kc-table {
  position: relative;
  height: fit-content;
  width: 100%;

  table {
    border: 1px solid $neutral5;
    border-collapse: collapse;
    height: fit-content;
    width: 100%;
  
    thead {
      border-bottom: 1px solid $neutral5;
  
      tr {
        th {
          text-transform: uppercase;
          padding: 24px 16px;
          text-align: left;
          max-width: 300px;

          &.kc-table-header--sortable {
            padding: 16px;
          }
  
          &:nth-child(1) {
            padding-left: 32px;
          }
  
          &:last-child {
            padding-right: 32px;
          }
  
          button {
            background-color: transparent;
            border: none;
            color: $neutral10;
            padding: 8px 0;
            text-transform: uppercase;
            text-align: left;
  
            i {
              margin-left: 8px;
            }
          }
        }
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: $neutral3;
        }
  
        &:hover {
          background-color: $neutral4;
        }

        &.kc-table-row--empty td {
          text-align: center;
        }
  
        td {
          color: $neutral10;
          padding: 16px;
          max-width: 300px;
  
          &:nth-child(1) {
            padding-left: 32px;
          }
  
          &:last-child {
            padding-right: 32px;
          }
        }
      }
    }
  }

  .kc-table__loading-indicator {
    background: rgba(255, 255, 255, 0.75);
    height: 100%;
    width: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    
    .spinner-border {
      width: 3rem;
      height: 3rem;
      border: 0.25em solid $functionalLink500;
      border-right-color: transparent;
    }
  }
}
