.kc-validate-credential-modal {
  .kc-modal .kc-modal__container {
    width: 480px;

    .kc-modal__title span {
      font-size: 22px;
    }

    .kc-modal__main .kc-modal__content {
      padding: 2rem 1.5rem;

      .kc-form-group .kc-form-group__label {
        margin-bottom: 0;

        label {
          font-size: 15px;
        }
      }
    }
  }
}
