.btn {
  padding-left: 25px;
  padding-right: 25px;
  min-width: 150px;

  &-block {
    width: 100% !important;
  }
}

.btn-kc {
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-family: $font_primary;
  &.btn-sm{
    font-size: $font_size_note !important;
  }
  &.btn-md{
    font-size: $font_size_paragraph !important;
    padding-top: 7.5px !important;
    padding-bottom: 7.5px !important;
  }

  &.btn-block{
    font-size: $font_size_paragraph !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  &.btn-primary {
    background: $color_primary;
    border: 1px solid $color_primary;
  }
  &.btn-secondary {
    background: none;
    color: $color_primary;
    border: 1px solid $color_primary;
  }
  &.btn-danger {
    border: 1px solid $danger_color;
    background: $danger_color;
  }
  .spinner-border {
    width: 15px !important;
    height: 15px !important;
  }
}
