.kc-color-pallete {
  background-color: $neutral1;
  border: 2px solid transparent;
  border-radius: 50%;
  height: 36px;
  padding: 3px;
  width: 36px;

  &.kc-color-pallete--checked {
    border: 2px solid $functionalLink500;
  }

  .kc-color-pallete__inner {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}