/**
  Styling for GalleryCard atom component.
  The component is used on FUNDING > Content and Feature Management
*/

.kc-gallery-card {
  border: 1px solid $neutral6;
  border-radius: 4px;
  cursor: default;
  display: flex;
  max-width: 250px;
  min-width: 200px;
  padding: 10px 15px;

  &:hover {
    background-color: $neutral4;
  }

  .kc-gallery-card__icon {
    margin-right: 15px;

    i {
      color: $neutral8;
      font-size: 17px;
    }
  }

  .kc-gallery-card__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span.kc-body2 {
      color: $neutral11;
    }
  }
}
