.inputWrapper {
  .btn-seePassword {
    background: none;
    border: none;
    .icon-seePassword {
      color: $font_color;
      width: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
