/**
  Styling for MediaCard atom component.
  The component is used on BACKOFFICE > Content and Feature Management
*/

.kc-media-card {
  border: 1px solid $neutral5;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;

  &.kc-media-card--active {
    border: 2px solid $primary7;

    .kc-media-card__overview {
      background-color: $neutral4;
    }
  }

  &:hover {
    .kc-media-card__overview {
      background-color: $neutral4;
    }
  }

  .kc-media-card__thumbnail {
    border-bottom: 1px solid $neutral5;
    height: 150px;
    padding: 10px;

    img {
      height: 130px;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .kc-media-card__overview {
    align-items: center;
    border-radius: 0 0 6px 6px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 10px;

    .kc-media-card__icon {
      i.kc-media-card__media-type {
        margin-right: 10px;
      }
    }

    .kc-media-card__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .kc-more-option {
      position: relative;

      > button {
        background-color: transparent;
        border: none;
        width: 24px;
      }

      .kc-more-option-menu {
        position: absolute;
        right: 0;
        width: max-content;
      }
    }
  }
}
