/**
  Styling for OnboardingImage atom component.
  The component is used on BACKOFFICE > Content and Feature Management
*/

.kc-onboarding-image {
  display: flex;
  flex-direction: column;
  height: 200px;

  .kc-onboarding-image__canvas {
    align-items: center;
    border: 1px solid $neutral5;
    cursor: pointer;
    display: flex;
    height: 170px;
    justify-content: center;
    padding: 10px;
    width: 170px;

    img {
      height: 100%;
      object-fit: contain;
      object-position: center;
      width: 100%;
    }
  }

  .kc-onboarding-image__note {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    font-size: 15px;
  }
}
