.tab {
  cursor: pointer;
  border: none;
  margin-right: 15px;
  padding: 0;

  .tab-accent {
    background-color: $neutral100;
    box-shadow: 8px 0 5px -5px rgba($color: $neutral700, $alpha: 0.3);
    display: flex;
    align-items: flex-start;
    height: 50px;
    min-width: 180px;

    &--active {
      background-color: $primary500;
      height: 55px;
    }
  }

  .tab-label {
    background-color: $neutral100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px 20px;
    width: 100%;

    p {
      cursor: pointer;
      margin: 0;
    }
  }
}
