/**
  Styling for TextButton atom component.
  The component is used on FUNDING > Content and Feature Management
*/

button.kc-text-button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  text-decoration: underline;
  width: fit-content;

  &.kc-text-button--primary {
    color: $primary7;
  }

  &.kc-text-button--neutral {
    color: $neutral13;
  }

  &.kc-text-button--success {
    color: $functionalSuccess500;
  }

  &.kc-text-button--warning {
    color: $functionalWarning500;
  }

  &.kc-text-button--danger {
    color: $functionalError500;
  }

  &:disabled {
    color: $neutral6;
  }
}
