.kc-detil-calon-anggota {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: row;

  .kc-detil-calon-anggota--headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
    flex-basis: 25%;
    padding-top: 10px;
    width: 100%;

    .kc-detil-calon-anggota--identity {
      span {
        font-weight: 500;
      }
    }

    .kc-detil-calon-anggota--action-button {
      display: flex;
      flex-direction: column;
      width: 100%;

      .kc-button {
        margin-top: 25px;
      }
    }

    .kc-detil-calon-anggota--detail-invoice {
      border: 1px solid $neutral7;
      border-radius: 8px;
      padding: 20px 10px;
      min-height: 300px;
      margin: 25px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .kc-detil-calon-anggota--detail-invoice-entry {
        margin-top: 10px;

        p {
          margin: 0;
        }
      }
    }
  }

  .kc-detil-calon-anggota--content {
    padding: 10px;

    .kc-detil-calon-anggota--navigation {
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;

      .kc-tab-navigation {
        margin-right: 25px;
      }
    }

    .kc-detil-calon-anggota--content-detail {
      .kc-section {
        width: 600px;

        .kc-section--foto-dokumen {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;

          .kc-image-preview {
            margin-right: 40px;
          }
        }
      }
    }
  }
}
