.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    337deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(210, 214, 212, 1) 0%,
    rgba(234, 242, 249, 1) 45%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  

  .login-wrapper {
    width: auto;
    height: auto;

    .login-title {
      font-size: $font_size_title;
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      span{
        font-size: $font_size_paragraph;
        display: block;
        margin-left: 5px;
        color: $notes_color;
        font-family: $font_primary;
        font-style: italic;
      }
    }

    .login-box {
      padding: 15px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: $font_size_paragraph;
      background: #fff;
    }
  }
}
