.reset-container {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    337deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(210, 214, 212, 1) 0%,
    rgba(234, 242, 249, 1) 45%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
