.text-notes {
  font-size: $font_size_note;
  color: $notes_color;
  font-style: italic;

  &.text-notes-danger {
    color: $danger_color;
  }

  &.text-notes-success {
    color: $primary_color;
  }

  &.text-notes-green {
    color: $success_color;
  }

  a {
    font-size: $font_size_note;
    text-decoration: none;
    color: $primary_color;
  }
}

.form-label {
  font-weight: bold;
}
.form-control-error {
  border: 1px solid $danger_color;
}

.link {
  font-family: inherit;
  &:hover {
    cursor: pointer;
    background: none;
    color: $color_primary;
  }
}

.progress {
  height: 5px;
}

.notes {
  display: block;
  color: $notes_color;
  font-style: italic;
  line-height: 1.5;
}

.content{
  ul{
    list-style: disc;
  }
  ul, ol{
    margin-left: 15px;
    li{
      margin-bottom: 5px;
      &:last-child{margin-bottom: none;}
    }
    span{
      color: $notes_color;
      font-style: italic;
      display: block;
    }
  }
}

table {
  .datatable-cell-header {
    margin-left: 16px;
    font-weight: 700;
    font-size: 1rem;
  }

  .datatable-cell {
    margin-left: 16px;
  }

  p {
    margin-bottom: 0;
  }
}

select, .form-control, .custom-select{
  font-size: 13;
  color: $color_text;
  font-family: $font_secondary !important;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid $color_border;

}

::placeholder {
  color: #d0d0d0 !important;
  opacity: 1; /* Firefox */
}

.dateRange-wrapper{
  width: 100%;
  max-width: 650px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;


  .kc-form-group{
    margin-bottom: 0;
    margin-right: 15px;
    .kc-inputfield {
      .kc-inputfield__box {
        height: 40px;
      }
    }
  }
}

.header-daftar-cabang{
  width: 100%;
  label.form-label{
    color: $color_label;
    font-weight: normal;
    font-family: $font_secondary;
    font-size: 13px;
  }
  .kc-dropdown{
    z-index: 1000;
  }
}

.bg-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;
  border: 1px solid $color_border;

  .text-loading{
    display: block;
    margin-top: 5px;
    font-family: $font_primary;
    color: $color-label;
  }
}

.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 999999;

  .tox-notifications-container {
    display: none;
  }
}
