$font_color: #6c757d;
$notes_color: #999999;
$primary_color: #006dbf;
$danger_color: #db1f25;
$success_color: #5fc856;

$color_primary: #0f77c0;
$color_secondary: #24acde;

$font_size_title: 22px;
$font_size_subtitle: 18px;
$font_size_paragraph: 15px;
$font_size_note: 12px;

$font_primary: 'Roboto';
$font_secondary: 'Lato';

//Color Identity
$white: #ffffff;
$black: #000000;

$color_topbar: #005ba0;
$color_border: #e0e0e0;
$color_placeholder: #aeaeae;
$color_label: #6f6f6f;
$color_text: #4c4c4c;

$color_blue: #006dbf;
$color_blue_hover: #005493;

$color_yellow: #f9d12b;
$color_yellow_hover: #efc100;

$color_green: #5fc856;
$color_green_hover: #4b9645;

$color_red: #ff6948;
$color_red_hover: #e55e40;

$neutral800: #292929;
$neutral700: #474747;
$neutral300: #C2C2C2;
$neutral100: #F5F5F5;

$primary900: #001F5B;
$primary700: #003F89;
$primary500: #006DBF;
$primary200: #95DEF8;


/* System Design */
$neutral1: #FFFFFF;
$neutral2: #FAFAFA;
$neutral3: #F5F5F5;
$neutral4: #F0F0F0;
$neutral5: #D9D9D9;
$neutral6: #BFBFBF;
$neutral7: #8C8C8C;
$neutral8: #595959;
$neutral9: #434343;
$neutral10: #262626;
$neutral11: #1F1F1F;
$neutral12: #141414;
$neutral13: #000000;

// Primary on Mobile
// $primary4: #F58C8D;
// $primary5: #E85F66;
// $primary6: #DC3644;
// $primary7: #B52435;
// $primary8: #8F1528;

$primary4: #9CE2F8;
$primary5: #69C5EC;
$primary6: #43A3D9;
$primary7: #0F77C0;
$primary8: #0A5CA5;

$functionalError600: #DB3848;
$functionalError500: #FF4D4F;
$functionalError400: #FF8379;
$functionalWarning600: #FBC74E;
$functionalWarning500: #FAAD14;
$functionalWarning400: #D78D0E;
$functionalSuccess600: #3AA813;
$functionalSuccess500: #52C41A;
$functionalSuccess400: #85DB4C;
$functionalLink600: #116FDB;
$functionalLink500: #1890FF;
$functionalLink400: #51B4FF;
