$font_color: #6c757d;
$notes_color: #999999;
$primary_color: #006dbf;
$danger_color: #db1f25;
$success_color: #5fc856;

$color_primary: #0f77c0;
$color_secondary: #24acde;

$font_size_title: 22px;
$font_size_subtitle: 16px;
$font_size_paragraph: 13px;
$font_size_note: 12px;

$font_primary: 'Open Sans';
$font_secondary: 'Roboto';

//Color Identity
$white: #ffffff;
$black: #000000;

$color_topbar: #005ba0;
$color_border: #e0e0e0;
$color_placeholder: #aeaeae;
$color_label: #6f6f6f;
$color_text: #4c4c4c;

$color_blue: #006dbf;
$color_blue_hover: #005493;

$color_yellow: #f9d12b;
$color_yellow_hover: #efc100;

$color_green: #5fc856;
$color_green_hover: #4b9645;

$color_red: #ff6948;
$color_red_hover: #e55e40;
