.wrapper-cms{
    width: 100%;
    height: auto;

    .judul-cms{
        font-size: 16px;
        font-family: $font_secondary;
        font-weight: bold;
        margin-bottom: 25px;
    }

    
        
    .wrapper-registration-intro{
        width: calc(100% + 30px);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        margin-left: -15px;

        .item-registration-intro{
            width: calc(25% - 30px);
            margin: 15px;
            padding: 15px;
            background: #EBEBEB;
            border: 1px solid #EBEBEB;

            .item-content-registration-intro{
                background: #fff;
                padding: 15px;
                font-family: $font_primary;
                line-height: 1.5;

                ul li{
                    margin-left: 25px;
                }
                .title-registration-intro{
                    height: 50px;
                    h3{
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .wrapper-body-registration-intro{
                    width: 100%;
                    height: 300px;
                    overflow-y: auto;
                }
            }

            .item-footer-registration-intro{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                height: 40px;
                .kc-rounded-button{
                    button{
                        border-radius: 5px;
                    }
                }
            }
            
            &.add-new-registration-intro{
                height: 465px;
                background: #fff;
                border: 1px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;

                &:hover{
                    cursor: pointer;
                }

                .icon-add-new{
                    text-align: center;
                    font-family: $font_secondary;
                    font-size: 14px;
                    i{
                        font-size: 75px;
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }

        }
    }
}

.wrapper-form-cms{
    width: 100%;
    .kc-text-html-editor {
        width: 100%;
        max-width: 750px;
        
        .ck-editor {
            min-height: 300px;
            height: fit-content;
            .ck-editor__main {
                height: fit-content;
                min-height: 300px;
                .ck-content.ck-editor__editable {
                    height: fit-content;
                    min-height: 300px;
                    max-height: 500px;
                    ol, ul {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .kc-form-group{
        .kc-form-group__identity{
            width: 100%;
            max-width: 300px;
            .kc-form-group__label > label{
                font-size: 14px;
                font-weight: normal;
                font-family: $font_secondary;
            }
        }

        .kc-textarea{
            width: 100%;
            max-width: 500px;
        }
    }

    .aro-item-wrapper{
        width: 100%;
        max-width: 500px;
    }

    .versi-input-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .kc-inputfield{
            width: 100%;
            max-width: 75px;
            input{
                text-align: center;
            }
        }
    }

    .image-cms{
        img{
            width: 100%;
            max-width: 150px;
            height: auto;
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid $color_border;
            border-radius: 3px;
        }
    }
}