.kc-detail-member {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;

  .kc-detail-member--headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
    flex-basis: 25%;
    padding-top: 10px;
    width: 100%;

    .kc-record-item--content {
      align-items: flex-start;
    }

    .kc-detail-member--identity {
      span {
        font-weight: 500;
      }
    }

    .kc-detail-member--action-button {
      display: flex;
      flex-direction: column;
      width: 100%;

      .kc-button {
        margin-top: 25px;
      }
    }

    .kc-detail-member--card {
      border: 1px solid $neutral7;
      border-radius: 8px;
      padding: 20px 10px;
      min-height: 300px;
      margin-top: 25px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .kc-detail-member--card-entry {
        margin-top: 10px;

        p {
          margin: 0;
        }

        .kc-status-card {
          width: fit-content;
        }

        .kc-payment-link {
          display: flex;
          align-items: center;

          button {
            border: 1px solid $neutral5;
            border-radius: 2px;
            background-color: $neutral1;
            color: $neutral7;
            height: 32px;
            margin-left: 10px;
            padding: 0 8px;
            width: 85px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              border: 1px solid $neutral7;
            }
          }
        }

        .kc-total-deposit {
          color: $neutral7;
          font-weight: 500;
          font-size: 21px;
          line-height: 25px;
          letter-spacing: 0.15px;
        }
      }
    }
  }

  .kc-detail-member--content {
    padding: 10px;

    .kc-detail-member--navigation {
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;

      .kc-tab-navigation {
        margin-right: 25px;
      }
    }

    .kc-detail-member--content-detail {
      .kc-section {
        width: 600px;
        margin-left: 20px;

        .kc-section--foto-dokumen {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;

          .kc-image-preview {
            margin-right: 40px;
          }
        }

        .kc-section-header {
          margin-bottom: 15px;

          .kc-record-item--value {
            color: $neutral7;
          }
        }

        .kc-bank-accounts-list {
          .kc-dropdown {
            margin-bottom: 30px;
          }

          .kc-bank-account-item {
            border-top: 1px solid $neutral5;
            padding: 15px 0 10px;
  
            .kc-bank-account-item--header {
              display: flex;
              align-items: center;
  
              h3 {
                margin-bottom: 0;
              }
            }
  
            .kc-bank-account-item--content {
              margin-top: 10px;

              .kc-record-item {
                padding: 5px 0;
              }
            }
          }
        }
      }
    }
  }
}
