/**
  Styling for onboarding configuration template [BACKOFFICE]
  The template is used on general configuration page
*/

.kc-onboarding-configuration {
  .kc-tutorial-banner {
    margin-bottom: 20px;
  }

  .kc-general-configuration__content, .kc-onboarding-card-list {
    display: flex;
  }

  .kc-general-configuration__content {
    margin: 0 20px;
  }

  .kc-onboarding-card-list {
    display: -webkit-inline-box;
    margin-right: 20px;
    max-width: calc(100% - 300px - 20px);
    overflow: auto;
    border-color: transparent;
    transition: border-color .25s linear;
    -webkit-transition: border-color .25s linear;

    &:hover {
      border-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-corner {
      border-right-style: inset;
      border-color: inherit;
      border-right-width: calc(100vw + 100vh);
    }
    
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &.kc-onboarding-card-list--stretch {
      max-width: 100%;
    }

    .kc-configuration-card {
      margin-right: 20px;
      width: 300px;

      &:last-child {
        margin-right: 0;
      }

      .kc-configuration-card__content {
        .kc-onboarding-card {
          height: 100%;
        }
      }
    }
  }
}
