.kc-modal--content {
  padding: 60px 30px 0;

  > .kc-user-registration-modal {
    width: 450px;
    
    .kc-form-group {  
      .kc-form-group__label {
        width: 120px;
      }

      .kc-roles {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        width: 100%;

        .kc-roles__option {
          margin-bottom: 15px;

          span.kc-caption {
            color: $neutral8;
            font-size: 13px;
            line-height: 8px;
          }
        }
      }
    }
  }
}