/**
  Styling for support configuration template [FUNDING]
  The template is used on general configuration page
*/

.kc-support-configuration {
  .kc-tutorial-banner {
    margin-bottom: 20px;
  }

  .kc-general-configuration__content {
    .kc-form-group {
      .kc-markdown-editor {
        min-height: 200px;
        width: 500px;
      }

      > ul {
        list-style-type: decimal;
        margin-left: 20px;
        margin-top: 20px;
  
        li {
          border-bottom: 1px solid $neutral5;
          margin-top: 20px;
          width: fit-content;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            border-bottom: none;
          }

          .kc-form-group {
            margin-right: 40px;
            width: 300px;
  
            &.kc-form-group--vertical {
              .kc-form-group__identity {
                .kc-form-group__label {
                  margin-bottom: 0;
                }
              }
            }

            .kc-form-group__identity {
              .kc-form-group__label {
                label {
                  font-size: 16px;
                  font-weight: 400;
                }
              }
            }
  
            .kc-multiple-inputfield {
              .kc-multiple-inputfield__child {
                .kc-inputfield {
                  .kc-inputfield__box {
                    button {
                      i:hover {
                        color: $functionalError500;
                      }
                    }
                  }
                }
              }
            }
          }
  
          button.kc-text-button {
            display: flex;
            height: fit-content;
          }
        }
      }
    }
  }
}
